<!DOCTYPE html>
<html lang="ja">

{{ partial "head.html" . }}

<body class="doc-body">
	<a class="sr-only sr-only-focusable doc-skip" href="#doc-main-h1">
		<div class="container">
			<span class="doc-skip-text">Skip to main content</span>
		</div>
	</a>
	<header class="navbar navbar-dark d-lg-none fixed-top toolbar-waterfall">
		<button aria-controls="doc-navdrawer" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler mr-3"
		 data-breakpoint="lg" data-target="#doc-navdrawer" data-toggle="navdrawer" data-type="permanent"><span class="navbar-toggler-icon"></span></button>
		<a aria-label="Daemonite Material" class="mr-auto doc-logo" href="/material/">M</a>
	</header>
	{{ partial "menubar.html" . }}
	<div class="jumbotron jumbotron-fluid mb-5 px-lg-3 doc-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xl-9">
					<h1 class="typography-display-2" id="doc-main-h1">{{ .Title }}</h1>
					<p class="font-weight-light typography-title">{{ .Params.stdate }}～{{ .Params.eddate }}</p>
				</div>
			</div>
		</div>
	</div>
	<main class="doc-main px-lg-3">
		<div class="container">

			<!-- ↓貼付け位置↓ -->
			<h5 class="card-title">中学校</h5>
			<select class="form-control">
				<option value="no">選択</option>
				<option value="chu">中体連</option>
				<option value="sft">ソフトテニス</option>
			</select>
			
			<div id="linkarea">
				<div class="list-group" id="chu" data-content="chu">
					<!-- <div class="list-group-item list-group-item-action list-group-item-info">中体連</div> -->
					<a href="http://www.infosnow.ne.jp/~do-jpa/" class="list-group-item list-group-item-action">北海道中体連</a>
					<a href="http://aomori-chuutairen.com/index.php" class="list-group-item list-group-item-action">青森県中体連</a>
				</div>
				<div class="list-group" id="sft" data-content="sft">
					<!-- <div class="list-group-item list-group-item-action list-group-item-info">ソフトテニス</div> -->
					<a href="http://hokkaidosofttennis.com/" class="list-group-item list-group-item-action">北海道ソフトテニス連盟</a>
					<a href="http://www8.plala.or.jp/sap-soft-tennis/" class="list-group-item list-group-item-action">札幌ソフトテニス連盟</a>
				</div>
			</div>

			<!-- ↑貼付け位置↑ -->
		</div>
	</main>
	{{ partial "footer.html" . }}
	<script src="{{ .Site.BaseURL }}/js/linkrefine.js" type="text/javascript"></script>
</body>

</html>