<!DOCTYPE html>
<html lang="ja">

{{ partial "head.html" . }}

<body class="doc-body">
	<a class="sr-only sr-only-focusable doc-skip" href="#doc-main-h1">
		<div class="container">
			<span class="doc-skip-text">Skip to main content</span>
		</div>
	</a>
	<header class="navbar navbar-dark d-lg-none fixed-top toolbar-waterfall">
		<button aria-controls="doc-navdrawer" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler mr-3"
		 data-breakpoint="lg" data-target="#doc-navdrawer" data-toggle="navdrawer" data-type="permanent"><span class="navbar-toggler-icon"></span></button>
		<a aria-label="Daemonite Material" class="mr-auto doc-logo" href="/material/">M</a>
	</header>
	{{ partial "menubar.html" . }}
	<div class="jumbotron jumbotron-fluid mb-5 px-lg-3 doc-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xl-9">
					<h1 class="typography-display-2" id="doc-main-h1">{{ .Title }}</h1>
					<p class="font-weight-light typography-title">{{ .Params.stdate }}～{{ .Params.eddate }}</p>
				</div>
			</div>
		</div>
	</div>
	<main class="doc-main px-lg-3">
		<div class="container">
			<div class="row justify-content-center">
				<!-- <div class="col-xl-9"> -->
				<div class="col">
					<!--ここにブログ本文-->
				</div>
			</div>
			<div class="bd-content mb-5">
				<div class="card">
					<!-- ↓貼付け位置↓ -->
					<div class="card-body">
						<h5 class="card-title">中学校</h5><!-- <p class="card-text">説明文</p> -->
					</div>
					<div class="list-group list-group-flush" id="accordionTwo">
						<div class="expansion-panel list-group-item"><a aria-controls="collapse3" aria-expanded="false" class="expansion-panel-toggler collapsed"
							 data-toggle="collapse" href="#collapse3" id="heading3">中体連<div class="expansion-panel-icon ml-3 text-black-secondary"><i
									 class="collapsed-show material-icons">keyboard_arrow_down</i><i class="collapsed-hide material-icons">keyboard_arrow_up</i></div></a>
							<div aria-labelledby="heading3" class="collapse" data-parent="#accordionTwo" id="collapse3">
								<div class="expansion-panel-body"><a href="http://www.jhs-softtennis.com/" class="list-group-item">第49回全国中学校ソフトテニス広島大会</a><a
									 href="http://www.infosnow.ne.jp/~do-jpa/" class="list-group-item">北海道中学校体育連盟</a><a href="http://hokkaidosofttennis.com/"
									 class="list-group-item">北海道ソフトテニス連盟</a><a href="https://sites.google.com/site/hstgakuren/" class="list-group-item">北海道学生ソフトテニス連盟</a></div>
							</div>
						</div>
					</div>
					<div class="list-group list-group-flush" id="accordionTwo">
						<div class="expansion-panel list-group-item"><a aria-controls="collapse8" aria-expanded="false" class="expansion-panel-toggler collapsed"
							 data-toggle="collapse" href="#collapse8" id="heading8">ソフトテニス<div class="expansion-panel-icon ml-3 text-black-secondary"><i
									 class="collapsed-show material-icons">keyboard_arrow_down</i><i class="collapsed-hide material-icons">keyboard_arrow_up</i></div></a>
							<div aria-labelledby="heading8" class="collapse" data-parent="#accordionTwo" id="collapse8">
								<div class="expansion-panel-body"><a href="http://hokkaidosofttennis.com/wp-content/uploads/2018/08/h30cyudadan.pdf"
									 class="list-group-item">第39回北海道中学校大会　男子団体結果</a><a href="" class="list-group-item">札幌市中体連</a><a href="http://www8.plala.or.jp/sap-soft-tennis/"
									 class="list-group-item">札幌ソフトテニス連盟</a><a href="http://tennis.news.coocan.jp/renraku/?FrontPage" class="list-group-item">中学校ソフトテニス部in札幌</a><a
									 href="http://tennis.news.coocan.jp/renraku/?plugin=attach&refer=%E5%A4%A7%E4%BC%9A%E7%B5%90%E6%9E%9C%EF%BC%88%E5%B9%B3%E6%88%9030%E5%B9%B4%E5%BA%A6%EF%BC%89&openfile=%E4%B8%AD%E4%BD%93%E9%80%A3%E5%9B%A3%E4%BD%93%E6%88%A6%E7%B5%90%E6%9E%9C.pdf"
									 class="list-group-item">中体連団体戦結果</a></div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<h5 class="card-title">小学校</h5><!-- <p class="card-text">説明文</p> -->
					</div>
					<div class="list-group list-group-flush" id="accordionTwo">
						<div class="expansion-panel list-group-item"><a aria-controls="collapse15" aria-expanded="false" class="expansion-panel-toggler collapsed"
							 data-toggle="collapse" href="#collapse15" id="heading15">連盟<div class="expansion-panel-icon ml-3 text-black-secondary"><i
									 class="collapsed-show material-icons">keyboard_arrow_down</i><i class="collapsed-hide material-icons">keyboard_arrow_up</i></div></a>
							<div aria-labelledby="heading15" class="collapse" data-parent="#accordionTwo" id="collapse15">
								<div class="expansion-panel-body"><a href="" class="list-group-item"></a><a href="http://hokkaidosofttennis.com/wp-content/uploads/2018/08/h30cyudadan.pdf"
									 class="list-group-item">小学校1</a><a href="" class="list-group-item">小学校2</a><a href="http://www8.plala.or.jp/sap-soft-tennis/"
									 class="list-group-item">小学校3</a><a href="http://tennis.news.coocan.jp/renraku/?FrontPage" class="list-group-item">小学校4</a><a
									 href="http://tennis.news.coocan.jp/renraku/?plugin=attach&refer=%E5%A4%A7%E4%BC%9A%E7%B5%90%E6%9E%9C%EF%BC%88%E5%B9%B3%E6%88%9030%E5%B9%B4%E5%BA%A6%EF%BC%89&openfile=%E4%B8%AD%E4%BD%93%E9%80%A3%E5%9B%A3%E4%BD%93%E6%88%A6%E7%B5%90%E6%9E%9C.pdf"
									 class="list-group-item">小学校5</a></div>
							</div>
						</div>
					</div>

					<!-- ↑貼付け位置↑ -->
				</div>
			</div>
		</div>
	</main>
	{{ partial "footer.html" . }}
</body>

</html>