@media (min-width: 540px) {
	.card-columns {
			column-count: 3;
	}
}
@media (min-width: 768px) {
	.card-columns {
			column-count: 4;
	}
}
@media (min-width: 960px) {
	.card-columns {
			column-count: 5;
	}
}

.expansion-panel-body {
    padding: 1rem 1rem;
}