/* フォントの上書き↓ */
html {
  font-family:  "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.tooltip {
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.popover {
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
/* フォントの上書き↑ */

@media (min-width: 540px) {
	.card-columns {
			column-count: 3;
	}
}
@media (min-width: 768px) {
	.card-columns {
			column-count: 4;
	}
}
@media (min-width: 960px) {
	.card-columns {
			column-count: 5;
	}
}

.expansion-panel-body {
    padding: 1rem 1rem;
}

ul {
	padding-left: 30px;
  position: relative;
}

ul li {
  /* line-height: 1.5; */
  /* padding: 0.5em 0; */
  list-style-type: none!important;
}

ul li:before {
  font-family: "Material Icons";
  content: "navigate_next";
  position: absolute;
  left : 0.5em;
  color: rgb(7, 74, 100);
}