<!DOCTYPE html>
<html lang="ja">

{{ partial "head.html" . }}

<body class="doc-body">
	<a class="sr-only sr-only-focusable doc-skip" href="#doc-main-h1">
		<div class="container">
			<span class="doc-skip-text">Skip to main content</span>
		</div>
	</a>
	{{ partial "header.html" . }}

	{{ partial "menubar.html" . }}
	<div class="jumbotron jumbotron-fluid mb-5 px-lg-3 doc-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xl-9">
					<h1 class="typography-display-2" id="doc-main-h1">{{ .Title }}</h1>
					<p class="font-weight-light typography-title">{{ .Params.stdate }}～{{ .Params.eddate }}</p>
				</div>
			</div>
		</div>
	</div>
	<main class="doc-main px-lg-3">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col">
					{{ range .Data.Pages.ByDate.Reverse }}
					{{ .Render "games" }}
					{{ end }}
					<div class="bd-content mb-5 blog-content">
					{{ .Content }}
					</div>
				</div>
			</div>
		</div>
	</main>
	{{ partial "footer.html" . }}
</body>

</html>