<!DOCTYPE html>
<html lang="ja">

{{ partial "head.html" . }}

<body class="doc-body">
	<a class="sr-only sr-only-focusable doc-skip" href="#doc-main-h1">
		<div class="container">
			<span class="doc-skip-text">Skip to main content</span>
		</div>
	</a>
	{{ partial "header.html" . }}

	{{ partial "menubar.html" . }}
	<div class="jumbotron jumbotron-fluid mb-5 px-lg-3 doc-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xl-9">
					<h1 class="typography-display-2" id="doc-main-h1">部活クラウド</h1>
					<p class="font-weight-light typography-title">小中高生のための部活まとめサイト</p>
				</div>
			</div>
		</div>
	</div>
	<main class="doc-main px-lg-3">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-11">
					<div class="bd-content mb-5">
						
						{{ $currentPage := . }}
						{{ range .Site.Menus.main }}
						<h2>{{ .Name }}</h2>
						{{ if .HasChildren }}
						<div class="card-columns">
							{{ range .Children }}
							<a href="{{ .URL }}">
							<div class="card">
								<img class="card-img-top" src="{{ .Pre }}" alt="{{ .Name }}">
								<div class="card-body">
									<p class="card-text">{{ .Name }}</p>
								</div>
							</div>
							</a>
							{{ end }}
						</div>
						{{end}}
						{{end}}

					</div>
				</div>
			</div>

		</div>
	</main>

</body>
{{ partial "footer.html" . }}
</html>