<div class="bd-content mb-5">
	<!-- <div class="bd-example bd-example-tabs"> -->
	<ul class="nav nav-justified nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a aria-controls="home" aria-selected="true" class="active nav-link show" data-toggle="tab" href="#home" id="home-tab"
			 role="tab">概要</a>
		</li>
		<li class="nav-item">
			<a aria-controls="results" aria-selected="false" class="nav-link" data-toggle="tab" href="#results" id="results-tab"
			 role="tab">試合結果</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div aria-labelledby="home-tab" class="tab-pane active fade show" id="home" role="tabpanel">
			概要なし
		</div>
		<div aria-labelledby="results-tab" class="tab-pane fade" id="results" role="tabpanel">
			<div class="list-group" id="accordionOne">